.button-italic {
  background: $color-pink;
  color: $color-red;
  text-decoration: none;
  width: max-content;
  padding: 18.5px 72px;
  border-radius: 100px;
  font-size: 20px;
  font-style: italic;
}
