<div class="social-navbar">
  <a href="https://linkedin.com">
    <img
      src="assets/img/icons/sprite.svg#linkedin-icon"
      class="social-navbar__icon svg-linkedin-icon-dims"
      alt="linkedin-icon"
    />
  </a>
  <a href="https://linkedin.com">
    <img
      src="assets/img/icons/sprite.svg#messenger-icon"
      class="social-navbar__icon svg-messenger-icon-dims"
      alt="messenger-icon"
    />
  </a>
  <a href="https://linkedin.com">
    <img
      src="assets/img/icons/sprite.svg#twitter-icon"
      class="social-navbar__icon svg-twitter-icon-dims"
      alt="twitter-icon"
    />
  </a>
</div>
