<div class="social-navbar">
  <a href="https://linkedin.com">
    <img
      src="/assets/images/icons/linkedin-icon.svg"
      class="social-navbar__icon"
      alt="linkedin-icon"
    />
  </a>
  <a href="https://linkedin.com">
    <img
      src="/assets/images/icons/messenger-icon.svg"
      class="social-navbar__icon"
      alt="messenger-icon"
    />
  </a>
  <a href="https://linkedin.com">
    <img
      src="/assets/images/icons/twitter-icon.svg"
      class="social-navbar__icon"
      alt="twitter-icon"
    />
  </a>
</div>
